# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Dylan Gattey
	email = dgattey@linkedin.com
	signingKey = 5FFB96A3FC14D1059ABDA03D5EB68D3DECED52CD
[core]
	excludesfile = /Users/dgattey/.gitignore_global
    attributesfile = ~/.gitattributes
    editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
    default = simple
[credential]
	helper = !java -Ddebug=false -Djava.net.useSystemProxies=true -jar /usr/local/Cellar/git-credential-manager/2.0.4/libexec/git-credential-manager-2.0.4.jar
    helper = osxkeychain
[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[color]
    ui = true
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[alias]
    lol = log --oneline --graph --decorate
    dgattey = log --oneline --graph --decorate --author=dgattey
    ls = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(yellow)%h%C(reset) %C(bold blue)(%ar)%C(reset)%C(bold red)%d%C(reset) %C(white)%s%C(reset) %C(green)[%an]%C(reset)' --all
    go = checkout -b
    pr = "!git add -A && git commit && git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
    prune-branches = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[commit]
	template = /Users/dgattey/.stCommitMsg
	gpgSign = true
