# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = Dylan Gattey
    email = dgattey@linkedin.com
[core]
    excludesfile = /Users/dgattey/.gitignore_global
    attributesfile = ~/.gitattributes
    editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
    default = simple
[credential]
    helper = osxkeychain
[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[color]
    ui = true
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[alias]
    lol = log --oneline --graph --decorate
    ls = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(yellow)%h%C(reset) %C(bold blue)(%ar)%C(reset)%C(bold red)%d%C(reset) %C(white)%s%C(reset) %C(green)[%an]%C(reset)' --all
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[commit]
    template = /Users/dgattey/.stCommitMsg
